.MenuBar {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
}

.MenuBar button {
    background: none;
    border: none;
    margin: 16px;
    font-weight: bold;
}

.MenuBar .left, .MenuBar .center, .MenuBar .right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.center img {
    height: 28px;
}

span {
    background-color: #D1E1E8;
    padding: 4px 8px;
    border-radius: 50%;
}


.MenuBar .mobile {
    display: none;
}

@media screen and (max-width: 500px) {
    .MenuBar {
        display: flex;
        justify-content: center;
        padding: 16px;
    }

    .MenuBar .center {
        justify-content: center;
    }

    .MenuBar .left, .MenuBar .right {
        display: none;
    }

    .MenuBar .mobile {
        display: inline;
        position: absolute;
        height: 32px;
        right: 48px;
    }
}