.MenuBar {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 12px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
}

.MenuBar button {
    background: none;
    border: none;
    margin: 19px;
    font-weight: bold;
}

.MenuBar .left, .MenuBar .center, .MenuBar .right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.center img {
    height: 28px;
}

span {
    background-color: #D1E1E8;
    padding: 4px 8px;
    border-radius: 50%;
}