.ProductCard {
    margin: 16px;
    width: 30%;
    height: 500px;
    padding: 16px;
    background-image: var(--img1);
    background-size: cover;
    background-position: center;
}

.ProductCard:hover {
    background-image: var(--img2);
}

.ProductCard h1 {
    color: #fff;
    font: normal normal bold 22px/50px Josefin Sans;
}

.ProductCard .shopBtn {
    font: normal normal bold 12px/50px Josefin Sans;
    margin-top: 16px;
    padding: 0 32px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    
}

@media screen and (max-width: 900px) {
    .ProductCard {
        height: 300px;
    }
}

@media screen and (max-width: 500px) {
   .ProductCard {
        height: 360px;
        width: 80%;
    }

    .ProductCard:hover, .ProductCard:active {
        background-image: var(--img2);
    }

    .ProductCard h1 {
        font-size: 1rem;
    }
}