.MakeEveryCupAnExperience {
    display: flex;
    height: 100dvh;

    position: relative;
}

.MakeEveryCupAnExperience .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-size: cover;
    background-position-y: 70%;
    padding-top: 128px;
}

.MakeEveryCupAnExperience .left h1 {
    font: normal normal bold 48px/48px Barlow Condensed;
}

.MakeEveryCupAnExperience .left p {
    margin: 2rem 5rem;
    line-height: 1.6;
    text-align: center;
    font: normal normal normal 16px/25px Nunito;
}

.MakeEveryCupAnExperience .left button {
    background: #fff;
    border: none;
    padding: 1rem 1.6rem;
    border-radius: 50px;
    transition: all 0.3s;
    font: normal normal bold 12px/14px Josefin Sans;
    letter-spacing: 1.8px;
}

.MakeEveryCupAnExperience .dots {
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-62%, -50%);
}

.MakeEveryCupAnExperience .left button:hover {
    transform:scale(1.1);
}

.MakeEveryCupAnExperience .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #8DB9CA;
    padding-top: 64px;
}

.MakeEveryCupAnExperience .right img {
    padding-bottom: 64px;
}

.MakeEveryCupAnExperience .right h1 {
    color: #AACBD8;
    font: normal normal bold 84px/101px Barlow Condensed;
    letter-spacing: 2.1px;
}

