.ExploreOurProducts {
    padding: 128px 64px 64px 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ExploreOurProducts h1 {
    font: normal normal bold 40px/43px Barlow Condensed;
}

.ExploreOurProducts .cards {
    display: flex;
    width: 100%;
    margin: 32px 0;
}

.ExploreOurProducts .shopBtn {
    background: none;
    border: 1px #000 solid;
    font-weight: bold;
    padding: 1rem;
    border-radius: 50px;
    letter-spacing: 1.8px;
}