.Footer {
    background: #659AB1;
    padding: 64px 64px 16px 64px;
    color: #fff;
}

.Footer .top {
    display: flex;
}

.Footer .top .left {
    flex: 0.8;
}

.Footer .top .left h1 {
    font: normal normal bold 36px/43px Barlow Condensed;
    letter-spacing: 0.72px;
}

.Footer .top .left p {
    font: normal normal normal 18px/28px Nunito;
}

.Footer .top .right {
    flex: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Footer .top .left p {
    line-height: 1.6;
    padding: 1rem 0;
    
}


.Footer form {
    background: #84AEC1;
    padding: 1.4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    
}

.Footer form input {
    background: none;
    border: none;
    color: #fff;
    font: normal normal normal 17px/27px Nunito;
}
.Footer form input[type=submit] {
    font: normal normal bold 12px/32px Josefin Sans;
}

.Footer .dots {
    margin: 64px 0;
    display: flex;
}

.Footer .mid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.Footer .mid h1 {
    font: normal normal bold 14px/25px Josefin Sans;
letter-spacing: 0.7px;
    padding-bottom: 8px;
}

.Footer .mid p {
    font: normal normal normal 14px/30px Nunito;
}

.Footer .mid .media {
    height: 24px;
    width: 24px;
    background-color: #84AEC1;
    padding: 8px;
    border-radius: 50px;
    margin-right: 8px;
}

.Footer .bottom {
    display: flex;
    color: #EFF5F7;
    justify-content: space-between;
    font: normal normal normal 13px/30px Nunito;
}

.Footer .bottom div {
    display: flex;
}
