.InThePress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.InThePress h1 {
    font: normal normal bold 12px/25px Josefin Sans;
    letter-spacing: 1.2px;
}

.InThePress p {
    padding: 2rem;
    text-align: center;
    font: normal normal normal 22px/38px Nunito;
    height: 128px;
}

.InThePress .logos img {
    margin: 32px;
    opacity: .5;
    transition: all .3s;
}

.InThePress .logos .active {
    opacity: 1;
}

@media screen and (max-width: 900px) {
    .InThePress p {
        height: 256px;
    }

    .InThePress .logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .InThePress .logos img {
        margin: 16px;
    }
}

@media screen and (max-width: 500px) {
    .InThePress {
        padding: 32px 16px;
    }

    .InThePress p {
        font-size: 1rem;
        line-height: 1.6;
    }

    .InThePress .logos img {
        height: 32px;
    }
}