.FreshGrounds {
    background-color: #EFF5F7;
    padding-bottom: 32px;
}

.FreshGrounds .title {
    display: inline;
    color: #D8E6EB;
    white-space: nowrap;
    overflow-x: auto;
    padding-right: 1rem;
    font: normal normal bold 105px/126px Barlow Condensed;
    letter-spacing: 2.63px;
}

.FreshGrounds .video {
    margin: 32px 64px; 
    text-align: center;
    line-height: 1.6;
    color: #fff;
    padding: 18%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.FreshGrounds .video h2 {
    font-size: 0.9rem;
}

.FreshGrounds .video h1 {
    font: normal normal bold 48px/52px Barlow Condensed;
    letter-spacing: 1.2px;
}

.FreshGrounds .video p {
    margin: 1rem 0 2rem 0;
    font: normal normal normal 15px/25px Nunito;
}

.FreshGrounds .video button {
    background: none;
    padding: 1.4rem 3rem;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50px;
    display: flex-box;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: all 0.3s;
    font: normal normal bold 12px/14px Josefin Sans;
    letter-spacing: 1.8px;
}

.FreshGrounds .video button:hover {
    padding: 1.6rem 3.4rem;
    margin: -.2rem -.4rem;
}

@media screen and (max-width: 500px) {

    .FreshGrounds .title {
        font-size: 3rem;
    }

    .FreshGrounds .video {
        margin: 16px;
        padding: 8%;
    }

    .FreshGrounds .video h1 {
        font-size: 2rem;
    }

    .FreshGrounds .video p {
        font-size: .8rem;
    }

    .FreshGrounds .video button {
        padding: 1rem 2rem;
    }
}