* {
    padding: 0;
    margin: 0;
}

.App {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.App .backUp {
    position: fixed;
    bottom: 32px;
    right: 32px;
    transform: rotate(180deg) scale(2);

    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-2;
    animation-timing-function: ease;
}

@keyframes bounce-2 {
    0%   { transform: translateY(30); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(30); }
}