.ShowUs {
    background-color: #EFF5F7;
}

.ShowUs .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 1.6;
    padding: 64px;
}
.ShowUs .title h1 {
    font: normal normal bold 36px/43px Barlow Condensed;
    letter-spacing: 0.72px;
}

.ShowUs .title p {
    font: normal normal normal 15px/23px Nunito;
}

.ShowUs .title button {
    background: none;
    color: #000;
    border: 1px solid #000;
    padding: 0.1rem 1.2rem;
    border-radius: 50px;
    display: flex;
    transition: all 0.3s;
    font: normal normal bold 12px/62px Josefin Sans;
    letter-spacing: 1.8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ShowUs .title button:hover {
    padding: .3rem 1.4rem;
    transform: translateX(0.1rem);
}

.ShowUs .title button img {
    margin-right: 16px;
}

.ShowUs .images {
    padding-bottom: 64px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .ShowUs .images::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .ShowUs .images {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 

.ShowUs .images img {
    margin: 16px;
    height: 266px;
    width: 266px;
}

.ShowUs .images .up {
    transform: translateY(-20px);
}

.ShowUs .images .down {
    transform: translateY(20px);
}

@media screen and (max-width: 500px) {

    .ShowUs .title {
        padding: 32px;
        flex-direction: column;
    }

    .ShowUs .title h1 {
        font-size: 1.8rem;
        margin-bottom: 8px;
    }

    .ShowUs .title p {
        margin-bottom: 8px;
    }

    .ShowUs .images {
        padding-bottom: 32px;
    }

    .ShowUs .images img {
        height: 192px;
        width: 192px;
    }
}